html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Open Sans';
    position: relative;
    color: black;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

#landing-container{
    overflow: hidden;
    display: block;
    top:0;
    margin-top:0;
    z-index: -100;
    min-width: 100%;
    height: 100vh;
    background: url(/assets/img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#landing {
    font-size: 1.75em;
    position: absolute;
    line-height: 100vh;
    height: 100vh;
    margin: auto 15vw;
}

#landing *{
    color: white;
}

#landing-name {
    padding: 0;
    margin: 0;
    line-height: 1.25em;
    display: inline-block;
    vertical-align: middle;
}


#curve, #gold{
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-container {
    padding-top: 3em;
    min-width: 100%;
    min-height: calc(100vh);
    background: white;
}

.main {
    width: 60%;
    left: calc(50% - 30%);
}

#desc-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(250, 235, 215, 0.7);
    transition: .5s;
}

#desc {
    font-size: .9em;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.project-array {
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    height: 10em;
    width: 20em;
    margin: 1.5em;
    transition: .5s;
    cursor: pointer;
}

.project-item:hover{
    height: 12em;
    width: 22em;
    margin: .5em;
}

.project-item .project-tit {
    position: absolute;
    top: 0;
    width: calc(100% - 1.25em);
    background-color: rgb(255,255,255, 0.5);
    margin-top: 0;
    font-size: 1.25em;
    color: black;
    padding: .25em;
    padding-left: 1em;
    padding-right: -1.
}

.project-item .project-desc {
    font-size: .8em;
    width: calc(100% - .75em);
    position: absolute;
    bottom: 0;
    background-color: rgb(250, 235, 215, 0.7);
    margin-bottom: 0;
    padding: .25em;
    padding-left: .5em;
}

.project-item img {
    width: 100%;
}

.invisible {
    opacity: 0;
}
