.links-container {
    padding-top: 1em;
    padding-bottom: 1em;
}

.links {
    font-size: 1em;
    text-align: left;
    letter-spacing: normal;
    overflow: auto;
}

.links li a {
    color:white;
    display: list-item;
    list-style-type: circle;

}

.links li:not(:last-child) {
    margin-bottom: 1em;
}